@if (navigationProgress.visible()) {
  <div
    class="route-progress"
    role="status"
    [attr.aria-label]="'app.navigation.loadingRoute' | transloco"
  >
    <span></span>
  </div>
}
<router-outlet />
@if (showDistributionNotices) {
  <footer class="distribution-notices">
    <span>{{ 'app.legal.copyright' | transloco }}</span>
    <a href="/LICENSE.txt">{{ 'app.legal.license' | transloco }}</a>
    <a href="/caselog-source.tar.gz" download>{{ 'app.legal.source' | transloco }}</a>
    <a href="/3rdpartylicenses.txt">{{ 'app.legal.thirdParty' | transloco }}</a>
    <span>{{ 'app.legal.noWarranty' | transloco }}</span>
  </footer>
}
